body {
	margin: 0px auto;
	background: #ff00ff;
}

.student {
	width: 70px;
	display: inline-block;
	color: #aaaaaa;
}

#overlay {
	margin: 0px auto; /* This doesn't work with position: absolute, so I need to figure something out here... */
}
